<mat-card class="mb-2">
  <mat-card-title>Hitsounds</mat-card-title>
  <mat-card-subtitle>
    <p>Volume: {{ app.settings.volume }}</p>

    <mat-slider
      thumbLabel
      [(ngModel)]="app.settings.volume"
      (change)="volumeChange()"
      tickInterval="1"
      min="0"
      max="100"
      class="w-100"
    >
    </mat-slider>
  </mat-card-subtitle>
  <mat-card-actions align="end">
    <button mat-raised-button (click)="folderUpload.click()" color="primary">
      Add sounds to your library
    </button>
    <input
      class="d-none"
      type="file"
      #folderUpload
      (change)="upload($event)"
      accept=".wav"
      multiple
    />
  </mat-card-actions>
</mat-card>

<h1 class="mt-5">
  Installed hitsound{{ app.hitsounds.length > 1 ? "s" : "" }}
</h1>
<mat-card class="card-list" *ngIf="app.hitsounds.length > 0">
  <mat-nav-list>
    <mat-list-item *ngFor="let sound of app.hitsounds" disableRipple="true">
      <span matLine>hitsound</span>
      <button
        mat-icon-button
        color="warn"
        matTooltip="Remove"
        (click)="removeFile(sound, 'hitsound')"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
        mat-icon-button
        color="accent"
        matTooltip="Play"
        (click)="playFile(sound)"
      >
        <mat-icon>play_arrow</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</mat-card>

<h1 class="mt-5">
  Installed killsound{{ app.killsounds.length > 1 ? "s" : "" }}
</h1>
<mat-card class="card-list" *ngIf="app.killsounds.length > 0">
  <mat-nav-list>
    <mat-list-item *ngFor="let sound of app.killsounds" disableRipple="true">
      <span matLine>killsound</span>
      <button
        mat-icon-button
        color="warn"
        matTooltip="Remove"
        (click)="removeFile(sound, 'killsound')"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
        mat-icon-button
        color="accent"
        matTooltip="Play"
        (click)="playFile(sound)"
      >
        <mat-icon>play_arrow</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</mat-card>

<h1 class="mt-5">Library</h1>

<mat-form-field class="w-100" appearance="fill">
  <mat-label>Search</mat-label>
  <input
    type="text"
    #searchLibrary
    placeholder="Pick one"
    aria-label="Number"
    matInput
    [formControl]="myControl"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option
      *ngFor="let option of filteredOptions | async"
      [value]="option.name"
    >
      {{ option.name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<mat-card class="card-list">
  <mat-nav-list>
    <mat-list-item
      *ngFor="let sound of filteredOptions | async"
      disableRipple="true"
    >
      <span matLine>{{ sound.name }}</span>
      <button
        mat-icon-button
        color="warn"
        matTooltip="Remove"
        (click)="remove(sound)"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
        mat-icon-button
        color="accent"
        matTooltip="Rename"
        (click)="rename(sound)"
      >
        <mat-icon>drive_file_rename_outline</mat-icon>
      </button>
      <button
        mat-icon-button
        color="accent"
        matTooltip="Play"
        (click)="play(sound)"
      >
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button
        mat-icon-button
        color="primary"
        matTooltip="Install as hitsound"
        (click)="installHitsound(sound)"
      >
        <mat-icon>get_app</mat-icon>
      </button>
      <button
        mat-icon-button
        color="primary"
        matTooltip="Install as killsound"
        (click)="installKillSound(sound)"
      >
        <mat-icon>get_app</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</mat-card>

<div class="mb-5"></div>
