<div class="container">
    <div class="row">
        <h1>Setup</h1>
        <h4>TF2tools could not locate your custom folder. Please select the navigation</h4>
        <mat-form-field appearance="fill" (click)="folderUpload.click()">
            <mat-label>Click to find your custom folder</mat-label>
            <input matInput #path disabled>
        </mat-form-field>
        <input class="d-none" type="file" #folderUpload (change)="getFolder($event)" webkitdirectory mozdirectory />
    </div>
</div>
