<div class="container">
    <div class="row">
        <h1>Setup</h1>
        <h4>We could not automatically find your custom folder. Where should custom folder located?</h4>
        <mat-form-field appearance="fill" (click)="folderUpload.click()">
            <mat-label>Click to find your custom folder</mat-label>
            <input matInput #path disabled>
        </mat-form-field>
        <input class="d-none" type="file" #folderUpload (change)="getFolder($event)" webkitdirectory mozdirectory />
    </div>
</div>
