<h1 class="mt-0 mb-3">Settings</h1>

<mat-card *ngIf="app.gitHub.update">
    <mat-card-title>Update available</mat-card-title>
    <mat-card-subtitle>{{app.gitHub.release.name}} is now available!</mat-card-subtitle>
    <mat-card-content [innerText]="getGitHubBody(app.gitHub.release.body)"></mat-card-content>
    <mat-card-actions align="end">
        <a href="https://github.com/PhongGuy/TF2Tools/releases/latest/download/TF2Tools.zip" mat-button color="primary"
            download>Download</a>
    </mat-card-actions>
</mat-card>

<h3>Custom folder</h3>
<mat-form-field class="w-100" appearance="fill">
    <mat-label>Location</mat-label>
    <input matInput type="text" disabled [value]="app.settings.customPath">
</mat-form-field>

<h3>Library location</h3>
<mat-form-field class="w-100" appearance="fill">
    <mat-label>Location</mat-label>
    <input matInput type="text" disabled [value]="app.settings.libraryPath">
</mat-form-field>
<div align="end">
    <button mat-raised-button color="primary" (click)="changeLibrary()" [disabled]="app.loading">Change
        location</button>
</div>

<h1>Huds</h1>
<mat-card class="settings">

    <div class="item">
        <div class="info">
            <h3>Save hud edits on uninstall</h3>
            <span>Save recent customizations edits on hud when uninstalling</span>
        </div>
        <div class="col"></div>
        <mat-slide-toggle [(ngModel)]="app.settings.moveOrCopy" (change)="updateSettings()"></mat-slide-toggle>
    </div>

</mat-card>

<h1>Log</h1>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Show logs
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
            <p class="log-info" *ngFor="let i of getLog()">{{ i }}</p>
        </ng-template>

    </mat-expansion-panel>
</mat-accordion>
