<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-3">
            <button mat-raised-button routerLink="hud" routerLinkActive="active">Huds</button>
            <button mat-raised-button routerLink="hitsound" routerLinkActive="active" disabled>Kill/hitsounds</button>
            <button mat-raised-button routerLink="crosshairs" routerLinkActive="active" disabled>Crosshairs</button>
            <button mat-raised-button routerLink="weapon-sounds" routerLinkActive="active" disabled>Weapon
                sounds</button>
        </div>
        <div class="col-lg-10 col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
