<mat-card class="mb-2">
    <mat-card-title>Huds</mat-card-title>
    <mat-card-actions align="end">
        <button mat-raised-button (click)="folderUpload.click()" color="primary">Add huds to your library</button>
        <input class="d-none" type="file" #folderUpload (change)="upload($event)" webkitdirectory mozdirectory />
    </mat-card-actions>
</mat-card>

<h1 class="mt-5">Installed hud{{currentHuds.length > 1 ? 's' : ''}}</h1>
<mat-card class="card-list">
    <mat-list>
        <mat-list-item *ngFor="let hud of currentHuds" disableRipple="true">
            <span matLine>{{hud.folderName}}</span>
            <button mat-icon-button color="warn" matTooltip="Uninstall" (click)="uninstall(hud)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-list-item>
    </mat-list>
</mat-card>

<h1 class="mt-5">Library</h1>

<mat-form-field class="w-100" appearance="fill">
    <mat-label>Search</mat-label>
    <input type="text" #searchLibrary placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
        [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.folderName">
            {{option.folderName}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

<mat-card class="card-list">
    <mat-list>
        <mat-list-item *ngFor="let hud of filteredOptions | async">
            <span matLine>{{ hud.folderName }}</span>
            <button mat-icon-button color="warn" matTooltip="Remove" (click)="remove(hud)">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button color="accent" matTooltip="Rename" (click)="rename(hud)">
                <mat-icon>drive_file_rename_outline</mat-icon>
            </button>
            <button mat-icon-button color="primary" matTooltip="Install" (click)="add(hud)">
                <mat-icon>get_app</mat-icon>
            </button>
            <button mat-icon-button color="primary" matTooltip="Replace with installed" (click)="replace(hud)">
                <mat-icon>autorenew</mat-icon>
            </button>
        </mat-list-item>
    </mat-list>
</mat-card>
