<div class="row">
  <div class="col-md-6"></div>
  <div class="col-md-6">

  </div>
</div>
<div class="row">
  <!--  <div class="col-md-4" *ngFor="let weapon of weaponSounds">-->
  <!--    <mat-card>-->
  <!--      <mat-card-title>{{weapon.name}}</mat-card-title>-->
  <!--      <mat-card-subtitle>{{weapon.alias}}</mat-card-subtitle>-->
  <!--      <mat-card-content>-->

  <!--      </mat-card-content>-->
  <!--      <mat-divider inset></mat-divider>-->
  <!--      <mat-form-field class="w-100" appearance="fill">-->
  <!--        <mat-label>Sound</mat-label>-->
  <!--        <mat-select>-->
  <!--          <mat-option *ngFor="let weapon of allWeaponSounds" [value]="weapon.name">-->
  <!--            {{weapon.name}}-->
  <!--          </mat-option>-->
  <!--        </mat-select>-->
  <!--      </mat-form-field>-->
  <!--      <mat-divider inset></mat-divider>-->
  <!--      <mat-card-actions align="end">-->
  <!--        <button mat-button>Save</button>-->
  <!--      </mat-card-actions>-->
  <!--    </mat-card>-->
  <!--  </div>-->

  <!--  <mat-card class="settings">-->

  <!--    <div class="item" *ngFor="let weapon of allWeaponSounds">-->
  <!--      <div class="info">-->
  <!--        <h3>{{weapon.name}}</h3>-->
  <!--      </div>-->
  <!--      <div class="col"></div>-->
  <!--      &lt;!&ndash;      <mat-form-field appearance="fill">&ndash;&gt;-->
  <!--      &lt;!&ndash;        <mat-label>Sound</mat-label>&ndash;&gt;-->
  <!--      &lt;!&ndash;        <mat-select>&ndash;&gt;-->
  <!--      &lt;!&ndash;          <mat-option *ngFor="let sound of defaultSounds" [value]="weapon.name">&ndash;&gt;-->
  <!--      &lt;!&ndash;            {{sound.name}}&ndash;&gt;-->
  <!--      &lt;!&ndash;          </mat-option>&ndash;&gt;-->
  <!--      &lt;!&ndash;        </mat-select>&ndash;&gt;-->
  <!--      &lt;!&ndash;      </mat-form-field>&ndash;&gt;-->
  <!--    </div>-->

  <!--  </mat-card>-->

  <mat-accordion>

    <mat-expansion-panel *ngFor="let weapon of allWeaponSounds">
      <mat-expansion-panel-header>
        {{weapon.name}}
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Sound</mat-label>
          <mat-select>
            <mat-option *ngFor="let weapon of allWeaponSounds" [value]="weapon.name">
              {{weapon.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>
